/* src/components/Collections.css */

.text-content {
    padding: 50px 0 50px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.collections-gallery {
    padding: 20px;
}
  
.collection-section {
    margin-bottom: 50px;
}
  
.carousel .carousel-item img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}
  