/* src/components/Fabrics.css */

.fabrics-gallery {
    padding: 0rem 0rem;
}
  
.fabric-card {
    color: #000;

    border-color: #000000;
    border-radius: 0;

    padding: 20px;

    transition: transform 0.2s;
}
  
.fabric-card:hover {
    transform: scale(1.05);
}

.body {
    font-weight: 300;
}

.subtitle {
    font-weight: 300;
}

.custom-dropdown .dropdown-toggle {
    background-color: black;
    color: white;
    border: none;
}

.custom-dropdown .dropdown-menu {
    background-color: black;
    color: white;
}

.custom-dropdown .dropdown-item {
    color: white;
}

.custom-dropdown .dropdown-item:hover,
.custom-dropdown .dropdown-item:focus {
    background-color: #444; /* Darker shade for hover/active state */
}

  